/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
 *{
  margin:0;
  padding: 0;
 }
.navbar {
  background-color:gray;
  padding: 1rem;
}

.navList {
  list-style-type: none; 
  padding: 0;
  margin-left: 400px;
  display: flex; 
  gap: 15px; 
}

.navList li {
  margin-left: 50px;

}

.navList a {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.navList a:hover {
  text-decoration: none; 
  color:orange;
  
}